<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JadedCms</title>
    <link rel="stylesheet" href="~/vendor/bootstrap-3.4.1-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-3.4.1-dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <!-- Create 2 column layout but in mobile only 2nd column will show ->
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img src="~/assets/img/admin_logo_light.png" alt="JadedCms" class="login_pg_logo" />
                </div>
            </div>
            <div class="col-md-6">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @(DateTime.Now.Year) - JadedCms-DotNet
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
